[Desktop Entry]
Type=Application
Version=1.5
Name=MLAatKST
Comment=Footnote helper for KST students
Icon=mlaatkst
TryExec=mlaatkst
Exec=mlaatkst
Terminal=false
Categories=Education Science Utility
